<html><head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>修改菜谱</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="webkit" name="renderer">
    <meta content="IE=EmulateIE8" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="__PUBLIC__/css/css.css">
    <link rel="stylesheet" href="__PUBLIC__/css/recipe.css">
    <link rel="stylesheet" href="__PUBLIC__/css/recipeadd.css">
    <link rel="stylesheet" href="__PUBLIC__/css/uploadify.css">

    <script type="text/javascript">
        function check(){ var val2="{$signature}";
            if(val2 == "true")
                document.getElementById("signature").checked=true;
            else
                document.getElementById("signature").checked=false;

        }
    </script>

<body>
<header>
</header>
<!-- logo+nav -->
<div class="w logo_wrap">
    <div class="logo_inner left">
    </div>
    <div class="logo_current left">
        <h1><a title="修改菜谱" >修改菜谱</a></h1>
    </div>
</div>
<!-- 主框架 -->
<div class="wrap">
    <form  action="__URL__/modifyDish" autocomplete="on" method="post" enctype=”multipart/form-data”>
        <div class="w clear mod">
            <!-- 右侧 -->
            <div class="mod_right">
                <div class="ui_title mt20">
                    <div class="ui_title_wrap">
                        <a class="on" >编辑菜谱</a>
                    </div>
                    <div class="ui_title_right">
                    </div>
                </div>
                <!-- 内容开始 -->
                <div class="content">
                    <dl class="cp_name">
                        <dt>
                            <span class="dish_name">*</span>
                            <span class="dish_name">菜谱名称：</span>
                        </dt>
                        <dd><input type="text" value="{$dish_name}" name="dish_name" class="btn37 J_Title color_5b"></dd>
                    </dl>
                    <dl class="cp_price">
                        <dt>
                            <span class="price">*</span>
                            <span class="price">菜品价格：</span>
                        </dt>
                        <dd><input type="text" value="{$price}" name="price" class="btn37 J_Title color_5b"></dd>
                    </dl>
                    <p>
                        <label>请选择菜品种类： </label>
                        <select name="type" class="utype" value="{$type}" id="val">
                            var val1=document.getElementById('val');
                            if(val1== "热菜")
                            <option value="热菜" >热菜</option>；
                            else if(val1== "凉菜")
                            <option value="凉菜" >凉菜</option>；
                            else if(val1=="汤羹煲炖类")
                            <option value="汤羹煲炖类" >汤羹煲炖类</option>;
                            else if(val1=="甜品")
                            <option value="甜品" >甜品</option>;
                            else if(val1=="饮品果汁类")
                            <option value="饮品果汁类" >饮品果汁类</option>;
                            else
                            <option value="val">所有类别</option>；
                        </select>

                    </p>



                    <dl class="checkbox">
                    <br>
                    <p><input type="checkbox" name="signature" id="signature" value = "{$signature}">  招牌菜（是否设置为招牌菜）</p>

                    <br>
                    </dl>


                    <dl class="description">
                        <dt>
                            <span class="lable">菜谱描述：</span>
                        </dt>
                        <dd><input id="description" name="description" class="area543 color_5b" value="{$description}"></dd>
                    </dl>


                    <dl class="selectcheckBox">
                        <dt>&nbsp;
                        </dt>
                        <dd>
                            <div class="submitdiv">
                                <input type="submit" value="确认修改" id="postbtn" class="postbtn">
                            </div>
                        </dd>
                    </dl>

                </div>
                <!-- 内容结束 -->
            </div>
            <!-- 右侧结束 -->
        </div>
    </form>
</div>

</body>
</html>
