<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <link href="__PUBLIC__/css/b.css" rel='stylesheet' type='text/css' />
    <link href="__PUBLIC__/css/s.css" rel='stylesheet' type='text/css' />
</head>

<body>

<div class="header" id="home">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="__PUBLIC__/images/logo1.jpg" alt=""></a>
        </div>

        <div class="header-bottom">
            <br>
            <p>WELCOME TO</p>
            <br>
            <h1>NOURRITURE</h1>
            <a href="index.html">Get Started</a>
        </div>
    </div>
</div>

</body>

</html>
