<!doctype html>
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>商家登录 | Nourriture商家推广</title>
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <link rel="apple-touch-icon" href="https://s0.meituan.net/bs/file/?f=bp.epassport:/img/apple-touch-icon-ipad.png@1951799">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body id="account-login">
<div id="doc" class="ecom-w980">
    <div id="hdw">
        <div id="hd">
            <a href="/" class="logo">
                <img width="215" height="37" alt="Nourriture商家中心" src="logo.png" />
            </a>
            <ul class="nav">
                <li class="option J-option--tohack">
                    <a href="http://www.meituan.com" gaevent="header/meituan" target="_blank">Nourriture首页
                        <i class="vertical-bar"></i>
                    </a>
                </li>
                <li class="option option--qrcode J-option--tohack">
                    <i class="new-tag" data-lazyicon="sp-lazy"></i>
                    <div class="top">
                        <i class="small-qrcode F-glob F-glob-qrcode"></i><a href="http://e.meituan.com/mobile/" gaevent="header/appdownload">下载商家手机客户端</a><i class="triangle"></i>
                    </div>
                    <div class="qrcode-wrapper">
                        <a class="qrcode-img" data-lazyicon="sp-lazy" href="http://e.meituan.com/mobile/" gaevent="header/ecom2code"></a>
                        <span class="qrcode-text">手机版验证快捷更方便</span>
                    </div>
                    <i class="vertical-bar"></i>
                </li>
            </ul>
        </div>
    </div>
    <div id="bdw" class="bdw">
        <div id="bd" class="cf">
            <div id="content" class="pg-account">
                <div class="box">
                    <div class="head"><h2>商家登录</h2></div>
                    <div class="sect cf">

                        <!--[if lte IE 7]>
                        <p class="brower-tip" style="background:#FFF6DB;line-height:2.5">检测到您的浏览器版本过低！为了您的账号安全和浏览体验，请使用更快更安全的<a href="http://se.360.cn/" gaevent="HelpFaqPage/DL360" target="_blank">360浏览器</a>或者<a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank" gaevent="HelpFaqPage/DLchrome">谷歌浏览器</a>。</p>
                        <![endif]-->            <div class="login-content">
                        <form id="account-login-form" method="post" action="/account/login">
                            <div class="field-group">
                                <label for="account-login-name">账号</label>
                                <input tabIndex="1" type="text" size="30" name="login" maxlength="100" id="account-login-name" class="f-text" value="" />
                                <a href="http://pmc.e.meituan.com/public/register/choose" class="forget-password" gaevent="LoginPage/GotoPmc">无账号，我想合作</a>
                            </div>
                            <div class="field-group field-group--pwd">
                                <label for="account-login-password">密码</label>
                                <input tabIndex="2" type="password" size="30" name="password" id="account-login-password" class="f-text" />
                                <a href="/find/resetreq" class="forget-password" gaevent="LoginPage/ForgotPw">忘记账号或密码？</a>
                            </div>
                            <div class="field-group captcha captcha-collapse">
                                <label for="captcha-id">验证码</label>
                                <input type="text" maxlength="4" name="captcha" id="captcha-id" class="f-text captcha-text" value="">
                                <img class="J-captcha-refresh-img" src="/account/captcha" width="60" height="30">
                                <a href="#" class="J-captcha-refresh refresh">看不清？换一张</a>
                            </div>
                            <div class="field-group login-container">
                                <input tabIndex="3" type="checkbox" value="1" checked="checked"  name="auto_login" checked="true" id= "autologin" class="ui-checkbox" />
                                <label class="normal" for="autologin">下次自动登录</label>
                            </div>
                            <div class="field-group">
                                <input tabIndex="4" type="submit" value="登录" class="form-button" />
                            </div>
                        </form>
                    </div>
                        <div class="login-tip">
                            <a class="login-tip__download" gaevent="loginpage/mshowpage" href="http://e.meituan.com/mobile/" target="_blank">
                                <img width="276" height="245" src="https://s0.meituan.net/bs/file/?f=bp.epassport:/epassport/img/mobile-download.png@1951799" alt="Nourriture客户端下载" title="Nourriture客户端下载">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- bd end -->
    </div> <!-- bdw end -->

    <div id="ftw">
        <div id="ft">
            <div class="contract-info">
                <img width="79" height="81" src="电话.png" >

                <div class="contract-info__item">
                    <h3>商家咨询请致电</h3>
                    <div class="content">18401606099<br /><span class="time-limit">周一到周日09:00-21:00</span></div>
                </div>
                <div class="contract-info__item">
                    <h3>商家电话验证请致电</h3>
                    <div class="content">18401606099</div>
                </div>

                <div class="contract-info__item">
                    <h3>邮箱咨询</h3>
                    <div class="content">14301007@bjtu.edu.cn<br /><span class="time-limit">周一到周日09:00-22:00</span></div>
                </div>
                <img width="80" height="80" src="邮箱.png" >
                <div class="contract-info__item">

                </div>
            </div>


        </div>
    </div>
</div>

</div> <!-- doc end -->

<script type="text/javascript" src="https://s0.meituan.net/bs/js/?f=require(@mtfe/yui):build/mt-web-core/mt-web-core.js@3.16.0;require(@mtfe/fe.core):mt-core/mt-core.js,mt-base/mt-base.js@0.2.125;bp.epassport:epassport/js/yui-bs-loader.js@1951799" ></script>
<script type="text/javascript" src="https://s0.meituan.net/bs/js/?f=require(@mtfe/fe.core):deps.js@0.2.125;bp.epassport:vendor/deps.js,epassport/deps.js@1951799" ></script>

</body>
</html>
